.pmis-font-10 {
    font-size: 10px;
}

.pmis-font-12 {
    font-size: 12px;
}

.pmis-font-14 {
    font-size: 14px;
}

.pmis-font-14b {
    font-size: 14px;
    font-weight: bold;
}

.pmis-font-16b {
    font-size: 16px;
    font-weight: bold;
}

.pmis-address-main {
    padding-top: 30px;
    padding-bottom: 80px;
}

.pmis-info {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    line-height: 18px;
}

.pmis-padding10 {
    padding-left: 10px;
}

.pmis-padding40 {
    padding-left: 40px;
}

.pmis-padding640 {
    padding-left: 400px;
}

.pmis-padding-right20 {
    padding-right: 20px;
}

.pmis_logo {
    max-height:80px;
}
